API_ADDR=8080
APP_NAME=executive-api
APP_ENV=production
APP_VERSION=v1.0.0
LOG_LEVEL=info
LOG_COMPACT=true
LOG_TIMEZONE=Africa/Nairobi
ENABLE_REQUEST_BODY_LOGS=false
DATABASE_URL=**********
JWT_SECRET=**********
JWT_EXPIRATION_SECONDS=86400

//use upstash
REDIS_ADDR=*********
REDIS_PASSWORD=***
REDIS_DB=0